<main class="topic_main">
  <div class="inner">
    <div class="prototype__wrapper">
      
        <div class="topic_name">
          <div class='topic_name_box'>
            <%= @topic.name%>
          </div>
      
      
      
        
      
    <% if user_signed_in? && current_user.id == @topic.user_id %>
        <div class="topic__manage">
          <%= link_to "編集する", edit_topic_path(@topic.id), class: :topic__btn %>
          <%= link_to "削除する", topic_path(@topic.id), method: :delete, class: :topic__btn %>
        </div>
      <% end %>
    </div>
  </div>
</main>