<div class="main">
  <%= image_tag "apex3.jpeg", class:"image" %>
  <div class="main_2">
    <div class="top">
      <div class="chat_text">最新の話題
      </div> 
      <div class="chat_room">aaaaaa
      </div>
    </div>
  </div>
</div>
<div class="main_center">
  <%= image_tag "背景.jpeg", class:"image2" %>
  <div class="main_botton2">
    <div class="botton">
      <div class="diary_text">新着日記
      </div>
      <div class="diary">
      </div>
    </div>
  </div>
</div>
<div class="main_botton">
  <%= image_tag "apex4.jpeg", class:"image3" %>
</div>