<div class="dm_list">
  <% @rooms.each do |room| %>
    <div class="dm_list__content">
      <%= link_to room_path(room), class: "dm_list__content__link" do %>
        <div class="dm_list__content__link__box">
          <div class="dm_list__content__link__box__name">
            <%= opponent_user(room) + "さんからのメッセージ" %>
          </div>
          <p class="dm_list__content__link__box__message">
            <%= most_new_message_preview(room) %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>